header{
    height: 50px;
    width: 100%;
    background-color:rgb(82, 82, 82);
    color:#fff;
    font-size: 20px;
}
#alert-container {
    width: 33.33%; 
    position: fixed; 
    top: 20px; 
    right: 20px;
    z-index: 1050; 
}
.wrapheader{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 45px;
}
.main{
    display: flex;
}
.aside{
    width: 150px;
    height: 900px;
    background: #d1a375;
}
.asidestyle1{
    margin: 10px 10px;
    color:black;
    border-bottom: 1px #000 solid;
}
.asidestyle1 a{
    font-size: 14px;
}
body{
    font-family: "Noto Serif", serif;
    font-weight: 900;
}
.imagegirl{
    height: 40px;
    width: 100px;
    overflow: hidden;
}

.mainblock td img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainblock{
    margin-left: 20px;
}
.mainblock .cell{
    padding: 0;
}
.mainblock th, .mainblock td {
    padding: 5px 10px;
    border: 2px #000 solid;
}
.buttomdelete{
    height: 20px;
    width: 40px;
    background-color: red;
    color:#fff;
    margin: 5px;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttomedit{
    height: 20px;
    width: 40px;
    background-color: rgb(211, 167, 6);
    margin: 5px;

}
.wrap-buttom{
    display: flex;
    justify-content: space-between;
}
.kind1{
    font-weight: 800;
    color: #fff;
    background-color: rgb(90, 184, 103);
    border-radius: 4px;
}
.kind2{
    font-weight: 800;
    color: #fff;
    background-color: rgb(194, 86, 32);
    border-radius: 4px;
}
.kind2:hover{
    background-color: rgb(100, 14, 14);
}
.kind1:hover{
    background-color: rgb(48, 117, 57);
}
.wrap-buttomstatus{
    display: flex;
    justify-content: space-between;
}
.buttomstatus{
    border: 1px  rgb(90, 184, 103) solid;
    background-color: #fff;
    border-radius: 2px;
    color: rgb(90, 184, 103);
    margin: 10px;
    height: 40px;
    padding: 5px;
}
.buttomstatusfocus{
    background-color: rgb(90, 184, 103);
    color: #fff;
}
td button{
    width: 100%;
}
.mainblock .rows{
    width: 130%;
}
.mainblock .rows .col-6{
    padding: 0;
}
.input-group{
    margin-top: 10px;
}
th.name{
    width: auto;
    max-width: 215px;
    height: 42px;
}

.Restore-Button{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin: 5px;
    background-color: #4db5b7;
    font-weight: 600;
}
.Restore-Button:hover{
    background-color: #007f84;
}
.main-create{
    width:1400px;
}
.main-create div{
    margin: 5px;
    display:flex;
    flex-direction:column;
}
.image-preview{
    width: 300px;
    height: auto;
}
.buttonDetail{
    background-color: #70d6d7;
    height: 20px;
    width: auto;
    margin: 5px;
}
.redirectToUpdate{
    margin:5px;
    background-color: #4db5b7;
}
/* style cho nhóm quyền */
.wrap-GropPermission{
    font-family: "Playfair Display", serif;
}
.GroupPermission{
    margin-top: 15px;
    color: #0056b3;
}
.card{
    margin: 0 20px;
    width: 86vw;
}
.permission td,.permission th{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}
/* style cho Phân Quyền */
.card.mb-3{
    margin: 20px;
    width: 90vw;
}
.buttomDelete{
    background-color: red;
    color: rgb(33, 106, 180);
    height: 20px;
    width: auto;
    margin: 5px;
    margin-left: 0px;
}
.wrap-buttom-permisstion{
    display: flex;
}

.container--Permission{
    font-family: "Playfair Display", serif;
    margin: 10px;
    width: 1350px;
}
.justify-between{
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
}

.table-permission {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
    font-size: 1rem;
}

.table-permission th, .table-permission td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

.table-permission th {
    background-color: #003f7e;
    font-weight: bold;
    font-size: 25px;
    color:#70d6d7
}

.table-permission tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-permission tr:hover {
    background-color: #ddd;
}

.table-permission .nameDanhmuc b{
    font-weight: bold; background-color: #f8f9fa;font-size: 20px; color: #0056b3;
    margin-left: -90px;
}

.permission-checkbox {
    width: 20px;
    height: 20px;
}

.text-center {
    text-align: center;
}

tbody tr td {
    padding: 10px;
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.justify-between h1{
    margin-left: 500px;
}