.aside 
    .asidestyle1
        a(href=prefixAdmin+"/dasboard") Tong Quan
    .asidestyle1 
        a(href=prefixAdmin+"/products") San Pham
    .asidestyle1 
        a(href=prefixAdmin+"/products/restore") Thung Rac
